* {
    font-family: "Mulish", sans-serif;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;

    width: 350px;
    padding: 20px;
    gap: 20px;

    border: 1px solid gainsboro;
}

form div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

form div label {
    width: 100px;
}

form div input, form div textarea {
    width: 100%;
    height: auto;
}

.playlist {
    display: flex;
    flex-direction: row;

    gap: 10px;
}

.playlist > .playlist-item {
    width: fit-content;
    height: fit-content;

    padding: 15px;
    margin: 10px 0;

    border: 1px solid gainsboro;
}

.playlist > .playlist-item > .img-div {
    object-fit: cover;
    width: 200px;
    height: 200px;
}

#submit, .playlist > .playlist-item > button {
    width: 100%;
    height: auto;

    border: none;
    background-color: #00A512;
    color: white;

    padding: 7px 12px;
}

#submit:hover, .playlist > .playlist-item > button:hover {
    opacity: 0.7;
    cursor: pointer;
}